## 7 DaysofCode

1/7:
- Download do dataset CEAPS: https://www12.senado.leg.br/dados-abertos/conjuntos?portal=Administrativo&grupo=senadores
- Data Wragling

In [136]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import streamlit as st

In [5]:
df = pd.read_csv('despesa_ceaps_2022 (1).csv', sep=';')
display(df.head(5))

,ULTIMA ATUALIZACAO,17/07/2023 02:01,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
1,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
2,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615
3,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,14/01/2022,Despesa com produção de texto e edição de víde...,6000,2173616
4,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,18/01/2022,Divulgação da atividade parlamentar,1000,2173618

### Data Wrangling

In [6]:
# Definir a primeira linha como cabeçalho
df.columns = df.iloc[0]

# Excluir a primeira linha duplicada
df = df[1:]

In [7]:
    df.sample(5)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
13296,2022,6,RANDOLFE RODRIGUES,"Aluguel de imóveis para escritório político, c...",07.656.757/0001-87,Você Telecom,1789923,20/06/2022,Internet,"279,89",2184000
3911,2022,6,ESPERIDIÃO AMIN,"Aluguel de imóveis para escritório político, c...",81.853.798/0001-16,Regis Comércio e Serviços Hidraulicos Ltda,17964,27/06/2022,NaN,165,2182732
16504,2022,2,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,UBTD6L,04/02/2022,"Companhia Aérea: AZUL, Localizador: UBTD6L. Pa...","1627,34",2174203
11706,2022,7,MECIAS DE JESUS,"Aluguel de imóveis para escritório político, c...",02.558.157/0001-62,VIVO - TELEFONIA BRASIL S/A,218665471,16/07/2022,NaN,"319,99",2185032
12959,2022,11,PAULO ROCHA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,Adria Viagens e Turismo Ltda,YQUXBO,08/11/2022,"Companhia Aérea: LATAM, Localizador: YQUXBO. P...","3311,53",2190173

In [8]:
# Verificar a quantidade de linhas e colunas
df.shape

(16782, 11)

In [9]:
# Corrigir os tipos de dados das variáveis
df.dtypes

0
ANO                  object
MES                  object
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
COD_DOCUMENTO        object
dtype: object

In [10]:
# Alteração do cabeçalho
var_col = [nome.capitalize() for nome in df.columns]
df.columns = var_col

In [11]:
# Capitalizando as variáveis
var_senador = [nome.capitalize() for nome in df['Senador']]
df['Senador'] = var_senador

var_fornecedor = [nome.capitalize() for nome in df['Fornecedor']]
df['Fornecedor'] = var_fornecedor

display(df.head(5))

,Ano,Mes,Senador,Tipo_despesa,Cnpj_cpf,Fornecedor,Documento,Data,Detalhamento,Valor_reembolsado,Cod_documento
1,2022,1,Acir gurgacz,"Aluguel de imóveis para escritório político, c...",004.948.028-63,Gilberto piselo do nascimento,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
2,2022,1,Acir gurgacz,Divulgação da atividade parlamentar,26.320.603/0001-64,Informanahora,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615
3,2022,1,Acir gurgacz,Divulgação da atividade parlamentar,13.659.201/0001-47,Linha purpura foto e video ltda,107,14/01/2022,Despesa com produção de texto e edição de víde...,6000,2173616
4,2022,1,Acir gurgacz,Divulgação da atividade parlamentar,23.652.846/0001-01,Roberto gutierrez da rocha m.e.i.,187,18/01/2022,Divulgação da atividade parlamentar,1000,2173618
5,2022,1,Acir gurgacz,Divulgação da atividade parlamentar,08.941.827/0001-01,Rondonia dinâmica com. e serv. de informática ...,000000000001772/A,17/01/2022,Divulgação da atividade parlamentar,2000,2173617

In [15]:
# Conversão da variável para data
df['Data'] = pd.to_datetime(df['Data'])

In [13]:
# Alteração do separador ',' para '.' e transformação para Float
df['Valor_reembolsado'] = df['Valor_reembolsado'].str.replace(',','.')
df['Valor_reembolsado'] = df['Valor_reembolsado'].astype(float)

In [14]:
df.Valor_reembolsado.sample(10)

10356    4501.00
1511      165.00
9293      217.18
12590     115.34
9764      290.91
798       100.00
1774     1531.33
12812      50.00
9236      168.80
2637     4050.00
Name: Valor_reembolsado, dtype: float64

In [16]:
df.dtypes

Ano                          object
Mes                          object
Senador                      object
Tipo_despesa                 object
Cnpj_cpf                     object
Fornecedor                   object
Documento                    object
Data                 datetime64[ns]
Detalhamento                 object
Valor_reembolsado           float64
Cod_documento                object
dtype: object

In [17]:
# Excluindo colunas não utilizáveis
df = df.drop(columns=['Documento'], axis=1)

In [18]:
# Verificação das células vazias
df.isnull().sum()

Ano                     0
Mes                     0
Senador                 0
Tipo_despesa            0
Cnpj_cpf                0
Fornecedor              0
Data                    0
Detalhamento         7720
Valor_reembolsado       0
Cod_documento           0
dtype: int64

In [182]:
valorMes

Senador
Angelo coronel        36096.47
Acir gurgacz          35679.46
Alessandro vieira     30851.05
Alexandre silveira    21964.89
Alvaro dias           14050.24
Name: Valor_reembolsado, dtype: float64

In [179]:
df.to_csv('Clean_despesas_CEASP.csv', sep=';')